<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Sync>
            <version>1.0.0</version>
        </Mirasvit_Sync>
    </modules>
    <global>
        <blocks>
            <sync>
                <class>Mirasvit_Sync_Block</class>
            </sync>
        </blocks>
        <models>
            <sync>
                <class>Mirasvit_Sync_Model</class>
                <resourceModel>sync_resource</resourceModel>
            </sync>
            <sync_resource>
                <class>Mirasvit_Sync_Model_Resource</class>
                <entities>
                </entities>
            </sync_resource>
        </models>
        <helpers>
            <sync>
                <class>Mirasvit_Sync_Helper</class>
            </sync>
        </helpers>
        <resources>
            <mst_sync_setup>
                <setup>
                    <module>Mirasvit_Sync</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_sync_setup>
        </resources>
        <events>
        </events>
        <template>
            <email>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <sync>
                    <file>mst_sync.xml</file>
                </sync>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Sync>
                    <files>
                        <default>Mirasvit_Sync.csv</default>
                    </files>
                </Mirasvit_Sync>
            </modules>
        </translate>
        <routers>
            <sync>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Sync</module>
                    <frontName>sync</frontName>
                </args>
            </sync>
        </routers>
    </frontend>
    <admin>
        <routers>
            <syncadmin>
                <use>admin</use>
                <args>
                    <module>Mirasvit_Sync</module>
                    <frontName>syncadmin</frontName>
                </args>
            </syncadmin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Sync>
                    <files>
                        <default>Mirasvit_Sync.csv</default>
                    </files>
                </Mirasvit_Sync>
            </modules>
        </translate>
        <layout>
            <updates>
                <sync>
                    <file>mst_sync.xml</file>
                </sync>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sync>
            <general>
            </general>
        </sync>
    </default>
</config>