
.mfv-4 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-4 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-4 { background-image: none; }
.mfv-4 .m-layer1 { background-image: none; }

.mfv-4.hovered { background-image: none; }
.mfv-4.hovered .m-layer1 { background-image: none; }

.mfv-4.selected { background-image: none; }
.mfv-4.selected .m-layer1 { background-image: none; }

.mfv-4.selected.hovered { background-image: none; }
.mfv-4.selected.hovered .m-layer1 { background-image: none; }
.mfv-4-state {
    width: 20px;
    height: 10px;
}
.mfv-4-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-4-state { background-image: none; }
.mfv-4-state .m-layer1 { background-image: none; }

.mfv-5 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-5 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-5 { background-image: none; }
.mfv-5 .m-layer1 { background-image: none; }

.mfv-5.hovered { background-image: none; }
.mfv-5.hovered .m-layer1 { background-image: none; }

.mfv-5.selected { background-image: none; }
.mfv-5.selected .m-layer1 { background-image: none; }

.mfv-5.selected.hovered { background-image: none; }
.mfv-5.selected.hovered .m-layer1 { background-image: none; }
.mfv-5-state {
    width: 20px;
    height: 10px;
}
.mfv-5-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-5-state { background-image: none; }
.mfv-5-state .m-layer1 { background-image: none; }

.mfv-6 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-6 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-6 { background-image: none; }
.mfv-6 .m-layer1 { background-image: none; }

.mfv-6.hovered { background-image: none; }
.mfv-6.hovered .m-layer1 { background-image: none; }

.mfv-6.selected { background-image: none; }
.mfv-6.selected .m-layer1 { background-image: none; }

.mfv-6.selected.hovered { background-image: none; }
.mfv-6.selected.hovered .m-layer1 { background-image: none; }
.mfv-6-state {
    width: 20px;
    height: 10px;
}
.mfv-6-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-6-state { background-image: none; }
.mfv-6-state .m-layer1 { background-image: none; }

.mfv-7 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-7 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-7 { background-image: none; }
.mfv-7 .m-layer1 { background-image: none; }

.mfv-7.hovered { background-image: none; }
.mfv-7.hovered .m-layer1 { background-image: none; }

.mfv-7.selected { background-image: none; }
.mfv-7.selected .m-layer1 { background-image: none; }

.mfv-7.selected.hovered { background-image: none; }
.mfv-7.selected.hovered .m-layer1 { background-image: none; }
.mfv-7-state {
    width: 20px;
    height: 10px;
}
.mfv-7-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-7-state { background-image: none; }
.mfv-7-state .m-layer1 { background-image: none; }

.mfv-8 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-8 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-8 { background-image: none; }
.mfv-8 .m-layer1 { background-image: none; }

.mfv-8.hovered { background-image: none; }
.mfv-8.hovered .m-layer1 { background-image: none; }

.mfv-8.selected { background-image: none; }
.mfv-8.selected .m-layer1 { background-image: none; }

.mfv-8.selected.hovered { background-image: none; }
.mfv-8.selected.hovered .m-layer1 { background-image: none; }
.mfv-8-state {
    width: 20px;
    height: 10px;
}
.mfv-8-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-8-state { background-image: none; }
.mfv-8-state .m-layer1 { background-image: none; }

.mfv-9 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-9 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-9 { background-image: none; }
.mfv-9 .m-layer1 { background-image: none; }

.mfv-9.hovered { background-image: none; }
.mfv-9.hovered .m-layer1 { background-image: none; }

.mfv-9.selected { background-image: none; }
.mfv-9.selected .m-layer1 { background-image: none; }

.mfv-9.selected.hovered { background-image: none; }
.mfv-9.selected.hovered .m-layer1 { background-image: none; }
.mfv-9-state {
    width: 20px;
    height: 10px;
}
.mfv-9-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-9-state { background-image: none; }
.mfv-9-state .m-layer1 { background-image: none; }

.mfv-10 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-10 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-10 { background-image: none; }
.mfv-10 .m-layer1 { background-image: none; }

.mfv-10.hovered { background-image: none; }
.mfv-10.hovered .m-layer1 { background-image: none; }

.mfv-10.selected { background-image: none; }
.mfv-10.selected .m-layer1 { background-image: none; }

.mfv-10.selected.hovered { background-image: none; }
.mfv-10.selected.hovered .m-layer1 { background-image: none; }
.mfv-10-state {
    width: 20px;
    height: 10px;
}
.mfv-10-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-10-state { background-image: none; }
.mfv-10-state .m-layer1 { background-image: none; }

.mfv-11 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-11 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-11 { background-image: none; }
.mfv-11 .m-layer1 { background-image: none; }

.mfv-11.hovered { background-image: none; }
.mfv-11.hovered .m-layer1 { background-image: none; }

.mfv-11.selected { background-image: none; }
.mfv-11.selected .m-layer1 { background-image: none; }

.mfv-11.selected.hovered { background-image: none; }
.mfv-11.selected.hovered .m-layer1 { background-image: none; }
.mfv-11-state {
    width: 20px;
    height: 10px;
}
.mfv-11-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-11-state { background-image: none; }
.mfv-11-state .m-layer1 { background-image: none; }

