
.mfv-33 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-33 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-33 { background-image: none; }
.mfv-33 .m-layer1 { background-image: none; }

.mfv-33.hovered { background-image: none; }
.mfv-33.hovered .m-layer1 { background-image: none; }

.mfv-33.selected { background-image: none; }
.mfv-33.selected .m-layer1 { background-image: none; }

.mfv-33.selected.hovered { background-image: none; }
.mfv-33.selected.hovered .m-layer1 { background-image: none; }
.mfv-33-state {
    width: 20px;
    height: 10px;
}
.mfv-33-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-33-state { background-image: none; }
.mfv-33-state .m-layer1 { background-image: none; }

.mfv-34 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-34 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-34 { background-image: none; }
.mfv-34 .m-layer1 { background-image: none; }

.mfv-34.hovered { background-image: none; }
.mfv-34.hovered .m-layer1 { background-image: none; }

.mfv-34.selected { background-image: none; }
.mfv-34.selected .m-layer1 { background-image: none; }

.mfv-34.selected.hovered { background-image: none; }
.mfv-34.selected.hovered .m-layer1 { background-image: none; }
.mfv-34-state {
    width: 20px;
    height: 10px;
}
.mfv-34-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-34-state { background-image: none; }
.mfv-34-state .m-layer1 { background-image: none; }

.mfv-35 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-35 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-35 { background-image: none; }
.mfv-35 .m-layer1 { background-image: none; }

.mfv-35.hovered { background-image: none; }
.mfv-35.hovered .m-layer1 { background-image: none; }

.mfv-35.selected { background-image: none; }
.mfv-35.selected .m-layer1 { background-image: none; }

.mfv-35.selected.hovered { background-image: none; }
.mfv-35.selected.hovered .m-layer1 { background-image: none; }
.mfv-35-state {
    width: 20px;
    height: 10px;
}
.mfv-35-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-35-state { background-image: none; }
.mfv-35-state .m-layer1 { background-image: none; }

.mfv-36 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-36 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-36 { background-image: none; }
.mfv-36 .m-layer1 { background-image: none; }

.mfv-36.hovered { background-image: none; }
.mfv-36.hovered .m-layer1 { background-image: none; }

.mfv-36.selected { background-image: none; }
.mfv-36.selected .m-layer1 { background-image: none; }

.mfv-36.selected.hovered { background-image: none; }
.mfv-36.selected.hovered .m-layer1 { background-image: none; }
.mfv-36-state {
    width: 20px;
    height: 10px;
}
.mfv-36-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-36-state { background-image: none; }
.mfv-36-state .m-layer1 { background-image: none; }

.mfv-37 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-37 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-37 { background-image: none; }
.mfv-37 .m-layer1 { background-image: none; }

.mfv-37.hovered { background-image: none; }
.mfv-37.hovered .m-layer1 { background-image: none; }

.mfv-37.selected { background-image: none; }
.mfv-37.selected .m-layer1 { background-image: none; }

.mfv-37.selected.hovered { background-image: none; }
.mfv-37.selected.hovered .m-layer1 { background-image: none; }
.mfv-37-state {
    width: 20px;
    height: 10px;
}
.mfv-37-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-37-state { background-image: none; }
.mfv-37-state .m-layer1 { background-image: none; }

.mfv-38 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-38 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-38 { background-image: none; }
.mfv-38 .m-layer1 { background-image: none; }

.mfv-38.hovered { background-image: none; }
.mfv-38.hovered .m-layer1 { background-image: none; }

.mfv-38.selected { background-image: none; }
.mfv-38.selected .m-layer1 { background-image: none; }

.mfv-38.selected.hovered { background-image: none; }
.mfv-38.selected.hovered .m-layer1 { background-image: none; }
.mfv-38-state {
    width: 20px;
    height: 10px;
}
.mfv-38-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-38-state { background-image: none; }
.mfv-38-state .m-layer1 { background-image: none; }

.mfv-39 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-39 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-39 { background-image: none; }
.mfv-39 .m-layer1 { background-image: none; }

.mfv-39.hovered { background-image: none; }
.mfv-39.hovered .m-layer1 { background-image: none; }

.mfv-39.selected { background-image: none; }
.mfv-39.selected .m-layer1 { background-image: none; }

.mfv-39.selected.hovered { background-image: none; }
.mfv-39.selected.hovered .m-layer1 { background-image: none; }
.mfv-39-state {
    width: 20px;
    height: 10px;
}
.mfv-39-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-39-state { background-image: none; }
.mfv-39-state .m-layer1 { background-image: none; }

.mfv-40 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-40 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-40 { background-image: none; }
.mfv-40 .m-layer1 { background-image: none; }

.mfv-40.hovered { background-image: none; }
.mfv-40.hovered .m-layer1 { background-image: none; }

.mfv-40.selected { background-image: none; }
.mfv-40.selected .m-layer1 { background-image: none; }

.mfv-40.selected.hovered { background-image: none; }
.mfv-40.selected.hovered .m-layer1 { background-image: none; }
.mfv-40-state {
    width: 20px;
    height: 10px;
}
.mfv-40-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-40-state { background-image: none; }
.mfv-40-state .m-layer1 { background-image: none; }

.mfv-41 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-41 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-41 { background-image: none; }
.mfv-41 .m-layer1 { background-image: none; }

.mfv-41.hovered { background-image: none; }
.mfv-41.hovered .m-layer1 { background-image: none; }

.mfv-41.selected { background-image: none; }
.mfv-41.selected .m-layer1 { background-image: none; }

.mfv-41.selected.hovered { background-image: none; }
.mfv-41.selected.hovered .m-layer1 { background-image: none; }
.mfv-41-state {
    width: 20px;
    height: 10px;
}
.mfv-41-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-41-state { background-image: none; }
.mfv-41-state .m-layer1 { background-image: none; }

.mfv-42 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-42 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-42 { background-image: none; }
.mfv-42 .m-layer1 { background-image: none; }

.mfv-42.hovered { background-image: none; }
.mfv-42.hovered .m-layer1 { background-image: none; }

.mfv-42.selected { background-image: none; }
.mfv-42.selected .m-layer1 { background-image: none; }

.mfv-42.selected.hovered { background-image: none; }
.mfv-42.selected.hovered .m-layer1 { background-image: none; }
.mfv-42-state {
    width: 20px;
    height: 10px;
}
.mfv-42-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-42-state { background-image: none; }
.mfv-42-state .m-layer1 { background-image: none; }

.mfv-43 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-43 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-43 { background-image: none; }
.mfv-43 .m-layer1 { background-image: none; }

.mfv-43.hovered { background-image: none; }
.mfv-43.hovered .m-layer1 { background-image: none; }

.mfv-43.selected { background-image: none; }
.mfv-43.selected .m-layer1 { background-image: none; }

.mfv-43.selected.hovered { background-image: none; }
.mfv-43.selected.hovered .m-layer1 { background-image: none; }
.mfv-43-state {
    width: 20px;
    height: 10px;
}
.mfv-43-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-43-state { background-image: none; }
.mfv-43-state .m-layer1 { background-image: none; }

.mfv-44 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-44 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-44 { background-image: none; }
.mfv-44 .m-layer1 { background-image: none; }

.mfv-44.hovered { background-image: none; }
.mfv-44.hovered .m-layer1 { background-image: none; }

.mfv-44.selected { background-image: none; }
.mfv-44.selected .m-layer1 { background-image: none; }

.mfv-44.selected.hovered { background-image: none; }
.mfv-44.selected.hovered .m-layer1 { background-image: none; }
.mfv-44-state {
    width: 20px;
    height: 10px;
}
.mfv-44-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-44-state { background-image: none; }
.mfv-44-state .m-layer1 { background-image: none; }

.mfv-45 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-45 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-45 { background-image: none; }
.mfv-45 .m-layer1 { background-image: none; }

.mfv-45.hovered { background-image: none; }
.mfv-45.hovered .m-layer1 { background-image: none; }

.mfv-45.selected { background-image: none; }
.mfv-45.selected .m-layer1 { background-image: none; }

.mfv-45.selected.hovered { background-image: none; }
.mfv-45.selected.hovered .m-layer1 { background-image: none; }
.mfv-45-state {
    width: 20px;
    height: 10px;
}
.mfv-45-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-45-state { background-image: none; }
.mfv-45-state .m-layer1 { background-image: none; }

.mfv-46 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-46 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-46 { background-image: none; }
.mfv-46 .m-layer1 { background-image: none; }

.mfv-46.hovered { background-image: none; }
.mfv-46.hovered .m-layer1 { background-image: none; }

.mfv-46.selected { background-image: none; }
.mfv-46.selected .m-layer1 { background-image: none; }

.mfv-46.selected.hovered { background-image: none; }
.mfv-46.selected.hovered .m-layer1 { background-image: none; }
.mfv-46-state {
    width: 20px;
    height: 10px;
}
.mfv-46-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-46-state { background-image: none; }
.mfv-46-state .m-layer1 { background-image: none; }

.mfv-47 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-47 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-47 { background-image: none; }
.mfv-47 .m-layer1 { background-image: none; }

.mfv-47.hovered { background-image: none; }
.mfv-47.hovered .m-layer1 { background-image: none; }

.mfv-47.selected { background-image: none; }
.mfv-47.selected .m-layer1 { background-image: none; }

.mfv-47.selected.hovered { background-image: none; }
.mfv-47.selected.hovered .m-layer1 { background-image: none; }
.mfv-47-state {
    width: 20px;
    height: 10px;
}
.mfv-47-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-47-state { background-image: none; }
.mfv-47-state .m-layer1 { background-image: none; }

.mfv-48 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-48 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-48 { background-image: none; }
.mfv-48 .m-layer1 { background-image: none; }

.mfv-48.hovered { background-image: none; }
.mfv-48.hovered .m-layer1 { background-image: none; }

.mfv-48.selected { background-image: none; }
.mfv-48.selected .m-layer1 { background-image: none; }

.mfv-48.selected.hovered { background-image: none; }
.mfv-48.selected.hovered .m-layer1 { background-image: none; }
.mfv-48-state {
    width: 20px;
    height: 10px;
}
.mfv-48-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-48-state { background-image: none; }
.mfv-48-state .m-layer1 { background-image: none; }

.mfv-49 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-49 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-49 { background-image: none; }
.mfv-49 .m-layer1 { background-image: none; }

.mfv-49.hovered { background-image: none; }
.mfv-49.hovered .m-layer1 { background-image: none; }

.mfv-49.selected { background-image: none; }
.mfv-49.selected .m-layer1 { background-image: none; }

.mfv-49.selected.hovered { background-image: none; }
.mfv-49.selected.hovered .m-layer1 { background-image: none; }
.mfv-49-state {
    width: 20px;
    height: 10px;
}
.mfv-49-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-49-state { background-image: none; }
.mfv-49-state .m-layer1 { background-image: none; }

.mfv-50 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-50 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-50 { background-image: none; }
.mfv-50 .m-layer1 { background-image: none; }

.mfv-50.hovered { background-image: none; }
.mfv-50.hovered .m-layer1 { background-image: none; }

.mfv-50.selected { background-image: none; }
.mfv-50.selected .m-layer1 { background-image: none; }

.mfv-50.selected.hovered { background-image: none; }
.mfv-50.selected.hovered .m-layer1 { background-image: none; }
.mfv-50-state {
    width: 20px;
    height: 10px;
}
.mfv-50-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-50-state { background-image: none; }
.mfv-50-state .m-layer1 { background-image: none; }

.mfv-51 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-51 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-51 { background-image: none; }
.mfv-51 .m-layer1 { background-image: none; }

.mfv-51.hovered { background-image: none; }
.mfv-51.hovered .m-layer1 { background-image: none; }

.mfv-51.selected { background-image: none; }
.mfv-51.selected .m-layer1 { background-image: none; }

.mfv-51.selected.hovered { background-image: none; }
.mfv-51.selected.hovered .m-layer1 { background-image: none; }
.mfv-51-state {
    width: 20px;
    height: 10px;
}
.mfv-51-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-51-state { background-image: none; }
.mfv-51-state .m-layer1 { background-image: none; }

.mfv-52 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-52 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-52 { background-image: none; }
.mfv-52 .m-layer1 { background-image: none; }

.mfv-52.hovered { background-image: none; }
.mfv-52.hovered .m-layer1 { background-image: none; }

.mfv-52.selected { background-image: none; }
.mfv-52.selected .m-layer1 { background-image: none; }

.mfv-52.selected.hovered { background-image: none; }
.mfv-52.selected.hovered .m-layer1 { background-image: none; }
.mfv-52-state {
    width: 20px;
    height: 10px;
}
.mfv-52-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-52-state { background-image: none; }
.mfv-52-state .m-layer1 { background-image: none; }

.mfv-53 .m-layer1 {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}
.mfv-53 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
}

.mfv-53 { background-image: none; }
.mfv-53 .m-layer1 { background-image: none; }

.mfv-53.hovered { background-image: none; }
.mfv-53.hovered .m-layer1 { background-image: none; }

.mfv-53.selected { background-image: none; }
.mfv-53.selected .m-layer1 { background-image: none; }

.mfv-53.selected.hovered { background-image: none; }
.mfv-53.selected.hovered .m-layer1 { background-image: none; }
.mfv-53-state {
    width: 20px;
    height: 10px;
}
.mfv-53-state {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.mfv-53-state { background-image: none; }
.mfv-53-state .m-layer1 { background-image: none; }

