<?xml version="1.0"?>
<config>
    <modules>
        <Indies_Productvideo>
            <version>1.0.4</version>
			<name>Product Video</name>
			<url>http://www.indieswebs.com/magento-product-video.html</url>
        </Indies_Productvideo>
    </modules>
	
    <frontend>
        <routers>
            <productvideo>
                <use>standard</use>
                <args>
                    <module>Indies_Productvideo</module>
                    <frontName>productvideo</frontName>
                </args>
            </productvideo>
        </routers>
        <layout>
            <updates>
                <productvideo module="productvideo">
                    <file>productvideo.xml</file>
                </productvideo>
            </updates>
        </layout>
    </frontend>
	 <admin>
        <routers>
			<productvideo>
				<use>admin</use>
				<args>
					<module>Indies_Productvideo</module>
					<frontName>productvideo</frontName>
				</args>
			</productvideo>
        </routers>
    </admin>
	 <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Indies_Productvideo before="Mage_Adminhtml">Indies_Productvideo</Indies_Productvideo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<productvideo translate="title" module="productvideo">
											<title>Indies_Productvideo</title>
											<sort_order>50</sort_order>
										</productvideo>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
            <updates>
                <productvideo>
                    <file>productvideo.xml</file>
                </productvideo>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <indies_save_product_data>
                        <type>singleton</type>
                        <class>productvideo/observer</class>
                        <method>saveProductTabData</method>
                    </indies_save_product_data>
                </observers>
            </catalog_product_save_after>
		</events>
    </adminhtml>   
    <global>
        <models>
            <productvideo>
                <class>Indies_Productvideo_Model</class>
                <resourceModel>productvideo_mysql4</resourceModel>
            </productvideo>
            <productvideo_mysql4>
                <class>Indies_Productvideo_Model_Mysql4</class>
                <entities>
                    <productvideo>
                        <table>productvideo</table>
                    </productvideo>
                </entities>
            </productvideo_mysql4>
        </models>
        <resources>
            <productvideo_setup>
                <setup>
                    <module>Indies_Productvideo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productvideo_setup>
            <productvideo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productvideo_write>
            <productvideo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productvideo_read>
        </resources>
        <blocks>
			<productvideo>
				<class>Indies_Productvideo_Block</class>
			</productvideo>
		</blocks>
        <helpers>
            <productvideo>
                <class>Indies_Productvideo_Helper</class>
            </productvideo>
        </helpers>
    </global>
	<default>
		<productvideo>
			<general>
				<type>fancybox</type>
				<max_width></max_width>
				<max_height></max_height>
				<img_width>265</img_width>
				<img_height>265</img_height>
				<img_frame>1</img_frame>
				<thu_width>56</thu_width>
				<thu_height>56</thu_height>
				<thu_frame>1</thu_frame>
			</general>
			
			<!--<type-lightbox>
				<overlayBgColor>#000</overlayBgColor>
				<overlayOpacity>0.8</overlayOpacity>
				<containerBorderSize>10</containerBorderSize>
				<containerResizeSpeed>400</containerResizeSpeed>
				<fixedNavigation>0</fixedNavigation>
				<txtImage>Image</txtImage>
				<txtOf>of</txtOf>
			</type-lightbox>-->
			<youtube>
				<max_width>265</max_width>
				<max_height>265</max_height>
				<theme>Dark</theme>
				<full_screen>1</full_screen>
				<auto_hide>1</auto_hide>
				<auto_play>0</auto_play>
				<control>Red</control>
			</youtube>
			<vimeo>
				<max_width>265</max_width>
				<max_height>265</max_height>
				<theme>00adef</theme>
				<full_screen>1</full_screen>
				<auto_play>0</auto_play>
				
			</vimeo>
			
			<dailymotion>
				<max_width>265</max_width>
				<max_height>265</max_height>
				<theme>FF0000</theme>
				<full_screen>1</full_screen>
				<auto_play>0</auto_play>
			</dailymotion>
			
			<metacafe>
				<max_width>265</max_width>
				<max_height>265</max_height>
				<auto_play>0</auto_play>
			</metacafe>
			
			<type-fancybox>
			
				<padding>10</padding>
				<margin>20</margin>
				<opacity>0</opacity>
				<modal>0</modal>
				<cyclic>1</cyclic>
				<autoScale>1</autoScale>
				<centerOnScroll>1</centerOnScroll>
				<hideOnOverlayClick>1</hideOnOverlayClick>
				<hideOnContentClick>0</hideOnContentClick>
				<overlayShow>1</overlayShow>
				<overlayOpacity>0.3</overlayOpacity>
				<overlayColor>#333333</overlayColor>
				<titleShow>1</titleShow>
				<titlePosition>float</titlePosition>
				<transitionIn>fade</transitionIn>
				<transitionOut>fade</transitionOut>
				<speedIn>300</speedIn>
				<speedOut>300</speedOut>
				<changeSpeed>300</changeSpeed>
				<changeFade>fast</changeFade>
				<easingIn>swing</easingIn>
				<easingOut>swing</easingOut>
				<showCloseButton>1</showCloseButton>
				<showNavArrows>1</showNavArrows>
				<enableEscapeButton>1</enableEscapeButton>
			</type-fancybox>
			
			<type-prettyphoto>
				<animation_speed>fast</animation_speed>
				<slideshow>5000</slideshow>
				<autoplay_slideshow>0</autoplay_slideshow>
				<opacity>0.8</opacity>
				<show_title>1</show_title>
				<allow_resize>1</allow_resize>
				<counter_separator_label>/</counter_separator_label>
				<theme>pp_default</theme>
				<horizontal_padding>20</horizontal_padding>
				<hideflash>0</hideflash>
				<modal>0</modal>
				<deeplinking>1</deeplinking>
				<overlay_gallery>1</overlay_gallery>
				<keyboard_shortcuts>outside</keyboard_shortcuts>
				<ie6_fallback>1</ie6_fallback>
			</type-prettyphoto>
			
			<type-colorbox>
				<theme>theme1</theme>
				<transition>elastic</transition>
				<speed>350</speed>
				<scalePhotos>true</scalePhotos>
				<opacity>0.85</opacity>
				<returnFocus>1</returnFocus>
				<preloading>1</preloading>
				<overlayClose>1</overlayClose>
				<escKey>1</escKey>
				<arrowKey>1</arrowKey>
				<loop>1</loop>
				<current>image {current} of {total}</current>
				<previous>previous</previous>
				<next>next</next>
				<close>close</close>
				<width></width>
				<height></height>
				<innerWidth></innerWidth>
				<innerHeight></innerHeight>
				<initialWidth>300</initialWidth>
				<initialHeight>100</initialHeight>
				<slideshow>0</slideshow>
				<slideshowSpeed>2500</slideshowSpeed>
				<slideshowAuto>1</slideshowAuto>
				<slideshowStart>Start slideshow</slideshowStart>
				<slideshowStop>Stop slideshow</slideshowStop>
				<fixed>1</fixed>
				<top>0</top>
				<bottom>0</bottom>
				<left>0</left>
				<right>0</right>
			</type-colorbox>
		</productvideo>
	</default>
</config>