<?xml version="1.0"?>
<config>
    <modules>
        <Mageix_ExtensionManagerLicense>
            <version>2.0.5</version>
            <mextensionmanager remote="https://ixcba.com/ixval/index/lmversions"/>
        </Mageix_ExtensionManagerLicense>
    </modules>

   <global>
      <helpers>
         <extensionmanagerlicense>
            <class>Mageix_ExtensionManagerLicense_Helper</class>
         </extensionmanagerlicense>
      </helpers>
	  <models>
         <extensionmanagerlicense>
            <class>Mageix_ExtensionManagerLicense_Model</class>
            <resourceModel>extensionmanagerlicense_mysql4</resourceModel>
         </extensionmanagerlicense>
         <extensionmanagerlicense_mysql4>
            <class>Mageix_ExtensionManagerLicense_Model_Mysql4</class>
            <entities>
               <license>
                  <table>extensionmanagerlicense_license</table>
               </license>
            </entities>
         </extensionmanagerlicense_mysql4>
      </models>
      
      <blocks>
         <extensionmanagerlicense>
            <class>Mageix_ExtensionManagerLicense_Block</class>
         </extensionmanagerlicense>
      </blocks>
      <resources>
         <extensionmanagerlicense_setup>
            <setup>
               <module>Mageix_ExtensionManagerLicense</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </extensionmanagerlicense_setup>
         <extensionmanagerlicense_write>
            <connection>
               <use>core_write</use>
            </connection>
         </extensionmanagerlicense_write>
         <extensionmanagerlicense_read>
            <connection>
               <use>core_read</use>
            </connection>
         </extensionmanagerlicense_read>
      </resources>
   </global>
   <adminhtml>
      <layout>
         <updates>
            <extensionmanagerlicense>
               <file>extensionmanagerlicense.xml</file>
            </extensionmanagerlicense>
         </updates>
      </layout>
      <translate>
         <modules>
            <Mageix_ExtensionManagerLicense>
               <files>
                  <default>Mageix_ExtensionManagerLicense.csv</default>
               </files>
            </Mageix_ExtensionManagerLicense>
         </modules>
      </translate>
      <events>
         <mextensionmanager_license_tabs>
            <observers>
               <extensionmanagerlicense>
                  <type>singleton</type>
                  <model>extensionmanagerlicense/observer</model>
                  <method>mextensionmanager_license_tabs</method>
               </extensionmanagerlicense>
            </observers>
         </mextensionmanager_license_tabs>
      </events>
      <acl>
         <resources>
            <admin>
               <children>
                  <system>
                     <children>
                        <config>
                           <children>
                              <mextensionmanager>
                                 <children>
                                    <licenses>
                                       <title>Mageix License Manager</title>
                                    </licenses>
                                 </children>
                              </mextensionmanager>
                           </children>
                        </config>
                     </children>
                  </system>
               </children>
            </admin>
         </resources>
      </acl>
   </adminhtml>
   <admin>
      <routers>
         <extensionmanagerlicenseadmin>
            <use>admin</use>
            <args>
               <module>Mageix_ExtensionManagerLicense</module>
               <frontName>extensionmanagerlicenseadmin</frontName>
            </args>
         </extensionmanagerlicenseadmin>
      </routers>
   </admin>
</config>
