<?xml version="1.0"?>
<config>
    <modules>
        <Mageix_ExtensionManager>
            <version>2.0.5</version>
            <mextensionmanager remote="https://ixcba.com/ixval/index/emversions/"/>
        </Mageix_ExtensionManager>
    </modules>
   <global>
      <models>
         <mextensionmanager>
            <class>Mageix_ExtensionManager_Model</class>
            <resourceModel>mextensionmanager_mysql4</resourceModel>
         </mextensionmanager>
         <mextensionmanager_mysql4>
            <class>Mageix_ExtensionManager_Model_Mysql4</class>
            <entities>
               <module>
                  <table>mextensionmanager_module</table>
               </module>
            </entities>
         </mextensionmanager_mysql4>
      </models>
      <helpers>
         <mextensionmanager>
            <class>Mageix_ExtensionManager_Helper</class>
         </mextensionmanager>
      </helpers>
      <blocks>
         <mextensionmanager>
            <class>Mageix_ExtensionManager_Block</class>
         </mextensionmanager>
      </blocks>
      <resources>
         <mextensionmanager_setup>
            <setup>
               <module>Mageix_ExtensionManager</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </mextensionmanager_setup>
         <mextensionmanager_write>
            <connection>
               <use>core_write</use>
            </connection>
         </mextensionmanager_write>
         <mextensionmanager_read>
            <connection>
               <use>core_read</use>
            </connection>
         </mextensionmanager_read>
      </resources>
   </global>
   <adminhtml>
      <layout>
         <updates>
            <mextensionmanager>
               <file>mextensionmanager.xml</file>
            </mextensionmanager>
         </updates>
      </layout>
      <translate>
         <modules>
            <Mageix_ExtensionManager>
               <files>
                  <default>Mageix_ExtensionManager.csv</default>
               </files>
            </Mageix_ExtensionManager>
         </modules>
      </translate>
      <menu>
         <system>
            <children>
               <tools>
                  <children>
                     <mextensionmanager>
                        <title>Mageix Extension Manager</title>
                        <sort_order>10</sort_order>
                        <action>mextensionmanageradmin/adminhtml_module</action>
                     </mextensionmanager>
                  </children>
               </tools>
            </children>
         </system>
      </menu>
      <acl>
         <resources>
            <admin>
               <children>
                  <system>
                     <children>
                        <tools>
                           <children>
                              <mextensionmanager>
                                 <title>Mageix Extension Manager</title>
                                 <sort_order>10</sort_order>
                              </mextensionmanager>
                           </children>
                        </tools>
                        <config>
                           <children>
                              <mextensionmanager>
                                 <title>Mageix Extension Manager</title>
                              </mextensionmanager>
                           </children>
                        </config>
                     </children>
                  </system>
               </children>
            </admin>
         </resources>
      </acl>
   </adminhtml>
   <admin>
      <routers>
         <mextensionmanageradmin>
            <use>admin</use>
            <args>
               <module>Mageix_ExtensionManager</module>
               <frontName>mextensionmanageradmin</frontName>
            </args>
         </mextensionmanageradmin>
      </routers>
   </admin>

    <default>
        <mextensionmanager>
            <general>
                <dir_perm>755</dir_perm>
                <file_perm>755</file_perm>
            </general>
            <ftp>
                <host>localhost</host>
                <port>21</port>
            </ftp>
        </mextensionmanager>
    </default>
</config>
