<?xml version="1.0"?>
<config>
    <modules>
        <Fishpig_Wordpress_Addon_CS>
            <version>1.3.2.0</version>
            <fishpig>
            	<id>customer-synch</id>
            	<name>Customer Synchronisation</name>
            	<url>http://fishpig.co.uk/wordpress-customer-synchronisation.html</url>
            </fishpig>
        </Fishpig_Wordpress_Addon_CS>
    </modules>
    <global>
		<events>
            <controller_action_predispatch_customer_account_loginPost>
            	<observers>
            		<wp_addon_cs>
            			<type>singleton</type>
            			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
            			<method>customerAccountLoginPostObserver</method>
            		</wp_addon_cs>
            	</observers>
            </controller_action_predispatch_customer_account_loginPost>
            <customer_load_after>
            	<observers>
            		<wp_addon_cs>
            			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
            			<method>customerLoadAfterObserver</method>
            		</wp_addon_cs>
            	</observers>
            </customer_load_after>
            <customer_save_after>
            	<observers>
            		<wp_addon_cs>
            			<type>singleton</type>
            			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
            			<method>customerSaveAfterObserver</method>
            		</wp_addon_cs>
            	</observers>
            </customer_save_after>
			<checkout_type_onepage_save_order_after>
				<observers>
					<wp_addon_cs>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
						<method>onepageSaveOrderAfterObserver</method>
					</wp_addon_cs>
				</observers>
			</checkout_type_onepage_save_order_after>
        </events>
        <resources>
        	<wp_addon_cs_setup>
        		<setup>
        			<module>Fishpig_Wordpress_Addon_CS</module>
        		</setup>
				<connection>
					<use>core_setup</use>
				</connection>
        	</wp_addon_cs_setup>
        </resources>
	</global>
	<frontend>
		<events>
			<wordpress_disqus_before_sso>
				<observers>
					<wp_addon_cs>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
						<method>getDisqusSsoDataObserver</method>
					</wp_addon_cs>
				</observers>
			</wordpress_disqus_before_sso>
		</events>
	</frontend>
	<default>
		<wordpress>
			<extend>
				<cs>1</cs>
			</extend>
		</wordpress>
	</default>
</config>