<?xml version="1.0"?>
<config> 
    <modules>
        <Nextend_Nextend>
            <version>1.3.3</version>
        </Nextend_Nextend>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nextend before="Mage_Adminhtml">Nextend_Nextend_Adminhtml</nextend>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <nextend>
                    <file>nextend.xml</file>
                </nextend>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <nextend_nextend>
                <class>Nextend_Nextend_Helper</class>
            </nextend_nextend>
        </helpers> 
        <models>
            <nextend>
                <class>Nextend_Nextend_Model</class>
            </nextend>
        </models>
        <events>
            <http_response_send_before>
                <observers>
                    <nextend_css_js>
                        <class>Nextend_Nextend_Model_Observer</class>
                        <method>buildCSSJS</method>
                    </nextend_css_js>
                </observers>
            </http_response_send_before>
        </events>
    </global>
</config>