<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_Facebook>
			<version>1.0.2.0</version>
			<fishpig>
				<name>Facebook</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/facebook/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_Facebook>
	</modules>
	<global>
		<helpers>
			<wp_addon_facebook>
				<class>Fishpig_Wordpress_Addon_Facebook_Helper</class>
			</wp_addon_facebook>
		</helpers>
		<blocks>
			<wp_addon_facebook>
				<class>Fishpig_Wordpress_Addon_Facebook_Block</class>
			</wp_addon_facebook>
			<wordpress>
				<rewrite>
					<post_view_comment_wrapper>Fishpig_Wordpress_Addon_Facebook_Block_Comments_Post</post_view_comment_wrapper>
					<page_view_comment_wrapper>Fishpig_Wordpress_Addon_Facebook_Block_Comments_Page</page_view_comment_wrapper>
				</rewrite>
			</wordpress>
		</blocks>
	</global>
	<frontend>
		<layout>
			<updates>
				<wp_addon_facebook>
					<file>wordpress/facebook.xml</file>
				</wp_addon_facebook>
			</updates>
		</layout>
		<events>
			<controller_front_send_response_before>
				<observers>
					<wp_addon_facebook>
						<class>Fishpig_Wordpress_Addon_Facebook_Helper_Data</class>
						<method>addJsSdkObserver</method>
					</wp_addon_facebook>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>
	<default>
		<wordpress>
			<extend>
				<facebook>1</facebook>
			</extend>
		</wordpress>
	</default>
</config>