<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_ContactForm7>
			<version>1.3.3.0</version>
			<fishpig>
				<name>Contact Form 7</name>
				<id>contact-form-7</id>
				<url>http://fishpig.co.uk/magento-wordpress-contact-form-7-integration.html</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_ContactForm7>
	</modules>
	<global>
		<blocks>
			<wp_addon_cf7>
				<class>Fishpig_Wordpress_Addon_ContactForm7_Block</class>
			</wp_addon_cf7>
		</blocks>
		<helpers>
			<wp_addon_cf7>
				<class>Fishpig_Wordpress_Addon_ContactForm7_Helper</class>
			</wp_addon_cf7>
		</helpers>
		<models>
			<wp_addon_cf7>
				<class>Fishpig_Wordpress_Addon_ContactForm7_Model</class>
				<resourceModel>wp_addon_cf7_resource</resourceModel>
			</wp_addon_cf7>
			<wp_addon_cf7_resource>
				<class>Fishpig_Wordpress_Addon_ContactForm7_Model_Resource</class>
				<entities>
					<form><table>posts</table></form>
				</entities>
			</wp_addon_cf7_resource>
		</models>
	</global>
	<frontend>
		<events>
			<wordpress_shortcode_apply>
				<observers>
					<wp_addon_cf7>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ContactForm7_Helper_Shortcode_Form</class>
						<method>injectFormObserver</method>
					</wp_addon_cf7>
				</observers>
			</wordpress_shortcode_apply>
		</events>
	</frontend>
	<default>
		<wordpress>
			<extend>
				<cf7>1</cf7>
			</extend>
		</wordpress>
	</default>
	<wordpress>
		<database>
			<after_connect>
				<form>posts</form>
			</after_connect>
		</database>
	</wordpress>
</config>